body {
    background-image: linear-gradient(rgb(50, 50, 50), black);
    background-repeat: no-repeat;
    background-size: cover;
}
table, th, td{
    color: aliceblue;
    border: 1px solid aliceblue;
    border-collapse: collapse;
    font-size: 25px;
}
table td{
    padding: 15px;
}
table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgba(200,180,180,.15)
}
table th{
    padding: 50px;
}
caption{
    font-size: 50px;
}
footer{
    background-color: rgb(15, 10, 10);
    margin: 0px;
    padding: 10px;
}